<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>😷👹☠️☠️😺😺😺😺😺😺😺😺🤕😸🤒😺😷😺😷😺😷😺😷😷😷🤒🤕😺😺😷😺😺😺😺😷☠️😷☠️👽🤥👽😷👽😷😷😷👽👽😷👽🤔👹👿👿🤔👿🤥👹👽😬👽😬👿👿💀💀☠️🤥👽👽😬💀😬👿😬💀💀☠️😸👽😬💀🤥💀💀🤥💀😬💀💀☠️😬👽👽😷🤔💀💀🤧🤧🤧😺😺</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>Hi, I&apos;m hungry!!! Let&apos;s go and have a good lunch!!! Do you have some adivce?</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>You&apos;re so stingy, haha. Well, it&apos;s OK. I&apos;m hungry </string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎A understand understand word</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>OK!</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，
嘎嘎嘎A understand understand understand understand word</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎，这是一个长句子</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>OK!</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>OK!</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>OK!</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>今天在哪里吃饭啊，饿死我了，(⊙o⊙)…无语了</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>我也不知道啊，就随便吃点好了</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>不行，必须吃点好的，饿了就得好好吃</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>好吧，那你看看附近有啥吃的，预算100以内哦</string>
		<key>left</key>
		<false/>
	</dict>
	<dict>
		<key>content</key>
		<string>。。。</string>
		<key>left</key>
		<true/>
	</dict>
	<dict>
		<key>content</key>
		<string>就吃那个xxxxxxxxx吧，很便宜，又好吃，就是要排队，你早点过去排队吧，嘎嘎嘎</string>
		<key>left</key>
		<true/>
	</dict>
</array>
</plist>
